<span class="io-select-selection {{multipleClass}}" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0">
    <span class="io-select-selection__rendered">
        <span>
            {{value}}
        </span>
    </span>
    <span class="io-select-arrow" tabindex="-1" style="outline:none;">
        <b>
        </b>
    </span>
</span>
{{!-- io-select-dropdown-placement-bottomLeft --}}
<span class="io-select-dropdown">
	<ul class="io-select-dropdown-menu io-select-dropdown-menu-vertical  io-select-dropdown-menu-root" role="menu" aria-activedescendant="" >
	    <li class="io-select-dropdown-menu-item" role="menuitem" aria-selected="false" >
	        Jack
	    </li>
	    <li class="io-select-dropdown-menu-item-selected io-select-dropdown-menu-item" role="menuitem" aria-selected="true" >
	        Lucy
	    </li>
	    <li class="io-select-dropdown-menu-item-disabled io-select-dropdown-menu-item" role="menuitem" aria-selected="false" aria-disabled="true" >
	        Disabled
	    </li>
	    <li class="io-select-dropdown-menu-item" role="menuitem" aria-selected="false" >
	        yiminghe
	    </li>
	</ul>
</span>
