<div class="io-table-filter">
  <form class="globalSearch pull-right" action="">
      <label>{{io-input type="text" size="small" style="float: right;" placeholder="搜索" value=filterString}} </label>
  </form>
</div>